<% if @payments.present? %>
  <table>
  <tr>
    <th>Invoice reference id</th>
    <th> Amount</th>
    <th> Amount currency</th>
    <th> Status</th>
    <th> Description</th>
    <th> Created at</th>
    <th> Approved at</th>
    <th> Rejected at</th>
    <th> Approve </th>
    <th> Reject </th>
  </tr>

  <% @payments.each do |payment| %>
    <tr>
      <td> <%= payment.invoice_reference_id %> </td>
      <td><%= payment.amount %></td>
      <td> <%= payment.amount_currency %> </td>
      <td> <%= status(payment) %> </td>
      <td> <%= payment.description %> </td>
      <td> <%= payment.created_at %> </td>
      <td> <%= payment.approved_at %> </td>
      <td> <%= payment.rejected_at %> </td>
      <% if can_approve?(payment) %>
        <td> <%= link_to 'Approve', approve_payment_path(payment), data: { "turbo-method": :put } %> </td>
      <% end %>
      <% if can_reject?(payment) %>
        <td> <%= link_to 'Reject', reject_payment_path(payment), data: { "turbo-method": :put } %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% else %>
  <p> No payments found </p>
<% end %>
